<div id="<%= dom_id menu %>" class="w-1/2 mx-auto">
  <div class="my-5 flex justify-around p-1 border border-gray-200 rounded-lg align-middle">
    <p class="text-sm"><%= menu.id %></p>
    <%= link_to menu.name, menu, class: "text-gray-500 hover:bg-gray-100 rounded-lg inline-block font-medium" %>
        <%= link_to icon('fa-solid', 'pencil'), edit_menu_path(menu), class: "rounded-lg inline-block font-medium" %>

  </div>
</div>
