<div>
  <h1 class="font-bold text-4xl"><%= @response_record.word_list %></h1>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
     <% @response_record.response_images.each do |response_image| %>
      <%= render partial: "response_records/response_record_image", locals: { response_image: response_image, word_list: @current_word_list } %>
    <% end %>

  </div>
</div>
<% # <%= render "select_response_record_images", response_record_images: @remaining_images %>       %>