<div>
  <div id="draggable" draggable="true">Drag me!</div>
<div id="dropzone">Drop here!</div>

  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
<ul id="sortable-list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
