<div id="<%= dom_id board_image %>" class="w-full border pt-2">
  <div class="pl-3 pr-3 items-center hover:bg-blue-400 text-center">
      <%= display_image_for(board_image.image) %>
      <span class="text-xl text-gray-600 ml-10"><%= board_image.label.upcase %></span>
  </div>
</div>  