<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing board image</h1>

  <%= render "form", board_image: @board_image %>

  <%= link_to "Show this board image", @board_image, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to board images", board_images_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
