
<div id="response_boards" class="w-full md:w-2/3">
  <h1 class="text-3xl font-bold text-gray-700 mb-4">Response Boards <span class=""><%= ResponseBoard.all.count %></h1>
   <%= paginate @response_boards %>
    <ul class="list-none p-0">
    <% @response_boards.each do |response_board| %>
      <li class="p-4 md:p-6 mb-4 flex justify-between items-center bg-white rounded-lg shadow border border-gray-200 transform hover:scale-105 transition duration-150 ease-in-out">
        <%= link_to response_board.name, response_board, class: "text-lg md:text-xl font-medium text-gray-700 hover:text-blue-600 transition duration-150 ease-in-out" %>
        <span class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white">
          <%= time_ago_in_words response_board.created_at %>
        </span>
      </li>
    <% end %>
    </ul>
  </div>