<%= turbo_frame_tag "board_images" do %>
  <div class="grid grid-cols-2">
    <% @images.each do |board_image| %>
      <%= render "board_image", board_image: board_image %>
    <% end %>
  </div>
<% end %>