<div id="<%= dom_id board_image %>" class="inline-block mr-4 w-32">
    <p class="m-2 truncate">
      <%= board_image.label %> 
      <span class="p-1"> <%= icon("fa-solid", "lock") if board_image.private %></span>
    </p>
    <%= select_image_button(@board, board_image) %>
</div>