<div id="<%= dom_id board_image %>" class="inline-block mr-4 w-32">
    <p class="m-2 truncate">
      NOPE 
            <%= board_image.label %>

      <span class="p-1"> <%= icon("fa-solid", "lock") if board_image.private %></span>
    </p>
</div>