
<div class="grid grid-cols-3 grid-rows-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-1 p-1 h-screen w-screen overflow-hidden place-items-center justify-center">
  <% @images.each do |image| %>
    <div class="relative w-full">
        <%= image_tag image.display_image.variant(:medium).processed.url, class: "absolute inset-0 object-contain aspect-square" %>
    </div>
    <% end %>
</div>
