<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Boards</h1>
    <%= link_to "New board", new_board_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="boards" class="w-full">
    <ul class="list-none rounded-lg py-3 px-5">
    <% @boards.each do |board| %>
      <li class="p-8 font-medium m-4 flex justify-between border-2 border-gray-300"><%= link_to board.name, board %><span class="bg-blue-300 p-5 text-white"><%= board.grid_size %></span></li>
    <% end %>
    </ul>
  </div>
</div>
