<div class="mx-auto shadow mt-8 p-4 md:p-6 lg:p-8 border w-full sm:w-3/4 md:w-2/3 lg:w-1/2">
  <div class="m-4 md:m-6">
    <h1 class="font-bold text-3xl md:text-4xl mb-4">New board</h1>
    <%= render "form", board: @board %>
  </div>
</div>