@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  display: flex;
  width: 500px;
  height: 600px;
  max-width: 100%;
}

.image-container > cropper-canvas {
  width: 500px;
  height: 600px;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#source {
  margin: 0 5px;
}

#output {
  margin: 0 5px;
}

/* img {
  max-width: 100% !important;
} */
