<%= form_with(url: find_or_create_images_path, method: :post, class: "m-5") do |form| %>
<div class="flex space-x-3">
    <%= form.text_field :label, placeholder: "Find or Create an Image", class: "mr-2 w-2/3 sm:w-1/2 py-2 px-3 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none" %>
    <%= form.submit "GO", class: "mx-auto px-3 py-2 font-medium bg-green-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-green-400 focus:ring-4 ring-0 focus:ring-green-100 mr-3" %>
</div>
<% end %>
