
<div class="bg-red-50 h-2/3">
  <div class="bg-gray items-center">
  <%= content_tag(:div, "container", data: {
                                       controller: "images",
                                       images_url: @image_url,
                                       images_id: @image.id,
                                     }, class: "flex justify-between") do %>
    <div class="w-full">
      <%= image_tag(@image_url, class: "", id: "source", data: {
                                  images_target: "source",
                                }) %>
      <%= button_to "Crop", "#", class: "text-white shadow mt-2 rounded-lg py-3 px-5 bg-cyan-700 inline-block font-medium", data: {
                                   action: "click->images#click",
                                   images_target: "cropButton",
                                 }, method: :get %>
    </div>
    <div class="w-full">
      <%= image_tag(@cropped_image_url, class: "", id: "output", data: {
                                          images_target: "output",
                                        }) %>
    </div>
  <% end %>
  </div>
</div>