<div class="shadow mt-8 p-2 border">
  <div class="m-5">
    <h1 class="font-bold text-4xl">Editing image</h1>
    <p class="font-light text-gray-500"><%= @image.label %></p>
    <%= render "form", image: @image %>
  </div>
  <div class="">
        <%= link_to "Show", image_path(@image), class: "text-white  mt-2 shadow rounded-lg py-2 px-4 bg-blue-700 font-medium text-center" %>

    <%= button_to "Destroy", image_path(@image), method: :delete, class: "text-white  mt-2 shadow rounded-lg py-2 px-4 bg-red-700 font-medium text-center", form_class: "" %>
</div>