<div class="shadow mt-8 p-2 border">
  <div class="m-5">
    <h1 class="font-bold text-4xl">Editing image</h1>
    <p class="font-light text-gray-500"><%= @image.label %></p>
    <%= render "form", image: @image %>
  </div>
  <div class="">
    <%= link_to "ASK AI", create_response_board_image_path(@image), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <%= button_to "Destroy", image_path(@image), method: :delete, class: "text-white  mt-2 shadow rounded-lg py-2 px-4 bg-red-700 font-medium text-center", form_class: "" %>
</div>