<div class="mx-auto w-full px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between items-center mb-10">
    <h1 class="font-bold text-4xl">
      Image Library</h1>
    <%= link_to "New image", new_image_path, class: "rounded-lg py-2 px-2 outline block font-medium" %>
  </div>
  <%= render "images/search" %>

  <div class="mt-4 overflow-x-scroll whitespace-nowrap min-h-screen">
        <%= render "images", images: @images %>
      </div>
</div>
